@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">lharouiix </h1>
    <p>Learn about <a href="https://github.com/ElMehdiLharoui/banque_Csharp">lharouiix is heeere baaa3d mniiii!!!!!</a>.</p>
</div>
<div>

<img src="C:\Users\ElMehdi\Documents\karim/camera.png">

<img />
</div>

